// Fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Sarabun';
    src: url('fonts/Sarabun-Regular.ttf') format('truetype');
    /* Add other font formats if needed (e.g., woff, woff2) */
    font-weight: normal;
    font-style: normal;
}