i {
    font-size: 30px;
}
.export{
    transition: transform .2s;
}
.export:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    transform: scale(1.2); 
}
.a-tag {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.export:hover a{
    color: pink;
}

